<div class="navbar uk-height-1-1">
    <div class="uk-padding uk-padding-remove-left uk-padding-remove-bottom">
        <ul class="uk-list navbar-ul">
            <li class="title-navbar">
                <p class="navbar-label"><i class="fas fa-home"></i> HOME </p>
            </li>
            <li class="navbar-link" onclick="location.href='/'"><a>Quem Somos?</a></li>
            <li class="navbar-link" onclick="location.href='/photogallery/'"><a>Galeria de Fotos</a></li>
            <li class="navbar-link" onclick="location.href='/courses/'"><a>Nossos Cursos</a></li>
            <li class="navbar-link" onclick="location.href='/teachers/'"><a>Corpo Docente</a></li>

            <li class="title-navbar">
                <p class="navbar-label"><i class="fas fa-chart-line"></i> Central do Aluno </p>
            </li>
            <li class="navbar-link" onclick="location.href='/studentsall/'"><a>Estudantes</a></li>
        </ul>

    </div>
    <footer class="menu-footer"> <a href="https://www.linkedin.com/in/edlainenunes/">Edlâine Rodrigues Nunes© 2021</a></footer>

</div>